 /* Background image */
 body {
    background-image: url('pattern.png');
      background-repeat: repeat;
      background-attachment: fixed;
    }

 .a {
  vertical-align: baseline;
 }
     
 h1 {
  letter-spacing: 5px
 }

    .font {
    border-style: inset;
    border-color: #f7a8c9;
    font-family: "Lucida Console";
    background-color:#f5a6d5;
    margin:80px;
    width: 28px;
    text-align:center;
    font-size:150%
  }
  
    .font2 {
    border-style: inset;
    border-color: #f7a8c9;
    font-family: "Lucida Console";
    width:470px;
    background-color:#f5a6d5;
    font-size:130%
  }
  
    .font3 {
    border-style: inset;
    border-color: #f7a8c9;
    font-family: "Lucida Console";
    width:690px;
    background-color:#f5a6d5;
    font-size:150%
  }

   .font4 {
    border-style: inset;
    border-color: #f7a8c9;
    font-family: "Lucida Console";
    width:auto;
    background-color:#f5a6d5;
    font-size:130%
  }
  
    .font5 {
    border-style: inset;
    border-color: #f7a8c9;
    font-family: "Lucida Console";
    width:auto;
    background-color:#f5a6d5;
    font-size:150%
  }
  
   .box {
    border-style: inset;
    border-color: #f7a8c9;
    font-family: "Lucida Console";
    background-color:rgba(245, 166, 213, 0.61);
    margin:12px;
    text-align:center;
    width: 90px;
    border:3px solid #f5a6d5;
    font-size:90%
  }
  
    .navlink {
    color:#a3e4d7;
    padding:10px;
    margin:10px;
  }
  
   .space {
    border-bottom: inset;
    border-color: #f7a8c9;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin:50px;
    background-color:rgba(245, 166, 213, 0.00);
  }
  
   .art {
    border-style: inset;
    border-color: #f7a8c9;
    background-color:#f5a6d5;
    font-family: "Lucida Console";
    text-align:center;
    width: 206px;
 }
   .art2 {
    border-style: inset;
    border-color: #f7a8c9;
    background-color:#f5a6d5;
    font-family: "Lucida Console";
    text-align:center;
    width: 206px;
    font-size:110%;
 }
   .inset {
    border-style: inset;
  }
 
   * {
   box-sizing: border-box;
 }
   .column {
    float: left;
    width: 50%;
    padding: 5px;
  }

   .column2 {
    float: left;
    width: 10%;
    padding: 5px;
  }

   .column3 {
    float: center;
    width: 25%;
    padding: 5px;
 }
  
   .row {
   display: flex;
 }

a:link {
color: #ffffff  ;
background-color: transparent;
text-decoration: none;
}

a:visited {
color: #ffffff  ;
background-color: transparent;
text-decoration: none;
}

a:hover {
color: #fcb9f5  ;
background-color: transparent;
text-decoration: none;
}

a:active {
color: #fcb9f5  ;
background-color: transparent;
text-decoration: none;
}